<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<p>
  Download:
  <%= link_to "CSV", orders_path(format: "csv") %>
  <%= link_to "XLS", orders_path(format: "xls")%>
</p>

<% @orders.each do |e| %>
<h2><bold>8===============================================D</bold></h2>
      <h3>Info: <%= e.info %></h3>
      <h3>Quantity: <%= e.quantity %></h3>
      <h3>Order date: <%= e.orderdate %></h3>
      <%= link_to 'Show', order_path(e) %>
<% end %>
      <h3>Total quantity: <%= @sum %></h3>
<%= link_to 'New Order', new_order_path %>