<h2>New Order</h2>
<%= form_for(@order) do |f| %>
<p>
<%=f.label :info %>
<br>
<%=f.text_area :info, rows: 5 %>
</p>
<p>
<%=f.label :quantity %>
<br>
<%=f.number_field :quantity %>
</p>
<div class="form-group">
  <%=f.label :product %>
  <%=f.select(:product_id, options_from_collection_for_select(Product.all, :id, :title), {:prompt => 'Choose'}, :class => "form-control") %>
</div>
<p>
<%=f.label :orderdate %>
<br>
<%=f.datetime_local_field :orderdate %>
</p>
<br>

<%=f.submit "Save"%>
<%end%>